.skeleton {
    background: linear-gradient(
        90deg,
        #2a3b47 25%,
        #4f9ca8 50%,
        #2a3b47 75%
    );
    background-size: 200% 100%;
    animation: shimmer 3s infinite linear;
}

.skeleton-image {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.skeleton-text {
    width: 50%;
    height: 1.2em;
}

.skeleton-cover {
  height: 496px;
  border-radius: 10px;
  margin: 20px;
}

.skeleton-icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

@keyframes shimmer {
    from {
        background-position: 200% 0;
    }
    to {
        background-position: -200% 0;
    }
}